/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root .theme-light {
  --bg-color: #fff;
  --accent-color: #000;
  --main-color: #d3d3d3;
  --first-color: #e7e7e7;
  --second-color: #1a1a1a;
  --bg-gradient: repeating-linear-gradient(
      90deg,
      var(--main-color) 0,
      var(--main-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--main-color) 0,
      var(--main-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      var(--first-color),
      var(--first-color) 0.01%,
      var(--second-color)
    );
  --text-change-color: #fff;
}

:root .theme-dark {
  --bg-color: #000;
  --accent-color: #00cc14;
  --main-color: #000;
  --first-color: #007f0c;
  --second-color: #004306;
  --bg-gradient: repeating-linear-gradient(
      90deg,
      var(--main-color) 0,
      var(--main-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      var(--main-color) 0,
      var(--main-color) 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(var(--first-color), var(--second-color));
  --bold: 785;
  --normal: 465;
  --text-change-color: #00cc14;
}

@media (prefers-color-scheme: dark) {

  :root {
    --bg-color: #000;
    --accent-color: #00cc14;
    --main-color: #000;
    --first-color: #007f0c;
    --second-color: #004306;
    --bg-gradient: repeating-linear-gradient(
        90deg,
        var(--main-color) 0,
        var(--main-color) 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        var(--main-color) 0,
        var(--main-color) 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(var(--first-color), var(--second-color));
    --bold: 785;
    --normal: 465;
    --text-change-color: #00cc14;
  }
}
