:root {
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --normal: 400;
  --bold: 700;
  --bg-color: #fff;
  --accent-color: #000;
  --main-inline-size: clamp(23.438rem, 16.329rem + 30.329vw, 43.625rem);
  --like-color: #f00;
  --bg-image: url(../svg/pattern-light.svg);
}
